body {
  padding: 30px 30%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.addbook,
.contact {
  display: none;
}

.book-list {
  border: 3px solid black;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #ccc;
}

.cols2 {
  width: 15%;
  padding: 3px 8px;
  align-content: center;
}

input {
  border: 3px solid black;
  width: 100%;
}

.delete {
  border: 2.5px solid black;
  box-shadow: 2px 2px;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.add {
  border: 4px solid black;
  box-shadow: 2px 2px;
  margin-left: 25%;
}
